<div class="column">
  <div class="avatar">
    <img src="/images/profile.jpg" width=125 height=125>
  </div>
</div>
<div class="content">
  <a class="download" href="/download" target="_self"><i class="fa fa-cloud-download"></i><span>PDF</span></a>
  <h1>{{user.fullName()}}</h1>
  <h2>{{user.title}}</h2>
  <h3>{{user.phone}} | 
  <a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  <div class="clear"></div>
  <div class="links" ng-repeat="link in user.links">
    <a href="{{link.url}}" target="_blank">
      <div class="link">
        <i class="fa {{link.icon}}"></i>
        <span class="title">{{link.title}}
        <div class="clear"></div>
      </div>
    </a>
  </div>
  <div class="clear"></div>
</div>
<div class="content">
  <div class="subtitle">Summary</div>
  <div class="text">{{user.summary}}</div>
</div>
<div ng-repeat="group in user.skillgroups">
  <div class="content">
    <div class="subtitle">{{group.title}}</div>
    <ul class="skills" >
      <li class="skill" ng-repeat="skill in group.skills">{{skill.title}}</li>
      <div class="clear"></div>
    </ul>
  </div>
</div>